@model IEnumerable<BakeryWeb.Models.Producto>

@{
    ViewData["Title"] = "Productos Disponibles";
}

<div class="text-center mb-4">
    <h2 class="bg-dark text-white p-3">PRODUCTOS DISPONIBLES</h2>
</div>


@if (!Model.Any())
{
    <div class="alert alert-info text-center">
        No hay productos disponibles por el momento.
    </div>
}
else
{
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Detalles del producto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Precio.ToString("C")</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ProductoId" class="btn btn-sm btn-info">Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
